.spacer {
    flex: 1 1 auto;
}

.nav-links {
  display: flex;
  gap: 16px;
}


.nav-item {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  vertical-align: middle;
}


@media (max-width:767.98px) {
    .nav-links {
        display: none;
    }
}

@media (min-width:768px) {
    .side-nav {
        display: none;
    }
}